<div id="sudoku">
  <div class="content">
    <div>
      <table id="origin-sudoku-grids" class="sudoku-grids">
        <tbody>
        <%= render :partial => 'grids', :locals => {:grids => @random} %>
        </tbody>
      </table>
    </div>
    <div>
      <button id="solve-sudoku" type="button">Solve</button>
    </div>
  </div>
  <div class="content2">
    <table id="solved-sudoku-grids" class="sudoku-grids">
      <tbody>
      <%= render :partial => 'grids', :locals => {:grids => @random} %>
      </tbody>
    </table>
  </div>
</div>

