// Place all the styles related to the sudoku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.sudoku-grids {
  border:#333 2px solid; 
  border-collapse: collapse;
  font-family: arial, helvetica, sans serif;
  font-size: 19px;
  margin: 20px auto 20px auto;
}

table.sudoku-grids tr td {
  border:#333 1px solid;
}

table.sudoku-grids tr td.focus {
  background-color: #FFFFCC
}

table.sudoku-grids tr td.conflict {
  background-color: #FF3937
}

td.grid {
  text-align:center;
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.content {
  float:left;
  width:50%;
}

.content2 {
  float:right;
  width:50%;
}

